*{
    margin:0px;
    padding:0px;
}
:root{
    --mainColor:rgb(179, 26, 255);
    --mainFamily:'Josefin Sans', sans-serif;
    --transition:.2s all linear;
    --lightWhite:rgba(255,255,255,.85);
    --myH:calc(100vh - 110px);
}
.nav{
    /* border:1px solid red; */
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding:1rem 2rem;
    font-family:var(--mainFamily);
    background-color:var(--mainColor);
}
.nav_box_1{
    border:1px solid transparent;
}
a{
    text-decoration:none;
    outline:none;
    font-weight:100;
}
.nav_box_1 a{
    font-size:1.5rem;
    color:white;
}
.nav_box_2{
    box-sizing: border-box;
    width:25vw;
    /* border:1px solid red; */
    position:fixed;
    top:0px;
    right:-470px;
    background-color:black;
    display:flex;
    flex-direction:column;
    padding:2rem 3rem;
    padding-top:3.5rem;
    z-index:200;
    transition:.5s all linear;
}
.nav_box_2 a{
    font-size:1.2rem;
    color:var(--lightWhite);
    margin-top:1rem;
    margin-top:1rem;
    transition: var(--transition);
    
}
.nav_box_2 a:hover{
    cursor:pointer;
    color:white;
}
.nav_cut{
    display:flex;
    justify-content: flex-end;
    /* border:1px solid red; */
}
.nav_cut i{
    font-size:1.2rem;
    color:white;
    border:1.5px solid white;
    padding:1rem;
    transition: var(--transition);
}
.nav_cut i:hover{
    cursor:pointer;
    background-color:white;
    color:black;
}
.nav_box_2_slide{
    right:0px;
}
.brgr{
    border:1px solid transparent;
}
.brgr div{
    box-sizing:border-box;
    width:1.5rem;
    height:.2rem;
    margin-top:.3rem;
    margin-bottom:.3rem;
    background-color:var(--lightWhite);
    transition:.2s all linear;
}
.brgr:hover{
    cursor:pointer
}
.brgr:hover div{
    background-color:white;
}
.footer{
    background-color:var(--mainColor);
    padding:1rem;
}
.footer h4{
    text-align: center;
    font-family:var(--mainFamily);
    font-weight:100;
    color:white;
}
.register{
    box-sizing: border-box;
    height:var(--myH);
    background:linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.3)),url("https://static.dribbble.com/users/237483/screenshots/5913908/leica.png");
    background-position:center center;
    background-size:cover;
    display:flex;
    justify-content: center;
    align-items: center;
}
.form{
    box-sizing: border-box;
    width:35vw;
    height:70vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color:white;
    font-family:var(--mainFamily);
    padding:3.5rem 0rem;
    padding-bottom:2rem;
    border-radius:.7rem;
}
.form h3{
    font-weight:100;
    color:var(--mainColor);
    font-size:1.8rem;
    text-align:center;
    margin-bottom:2rem;
}
.form input,textarea{
    box-sizing: border-box;
    width:20vw;
    outline:none;
    font-family:var(--mainFamily);
    padding:.8rem 1rem;
    border:1.2px solid var(--mainColor);
    margin-top:1rem;
    margin-bottom:1rem;
}
.form textarea{
    height:15vh;
    margin-bottom:2rem;
}
.btn{
    outline:none;
    font-family:var(--mainFamily);
    background-color:transparent;
    padding:.7rem 2rem;
    color:var(--mainColor);
    border:1.5px solid var(--mainColor);
    transition: var(--transition);
}
.btn:hover{
    cursor:pointer;
    background-color:var(--mainColor);
    color:white;
}
.form h4{
    font-weight:100;
    margin-top:1rem;
}
.form a{
    color:var(--mainColor);
}
.login{
    box-sizing: border-box;
    height:var(--myH);
    background:linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.3)),url("https://static.dribbble.com/users/1376306/screenshots/6997138/travel.jpg");
    background-position:center center;
    background-size:cover;
    display:flex;
    justify-content: center;
    align-items: center;
}
.login form{
    height:42vh;
}
.success,.error{
    /* border:1px solid red; */
    box-sizing: border-box;
    width:22vw;
    height:8vh;
    padding:1rem 2rem;
    position:fixed;
    right:0px;
    top:20vh;
    display:flex;
    align-items:center;
    justify-content: space-between;
    font-family:var(--mainFamily);
    font-weight:100;
    font-size:1.2rem;
    background-color:white;
    color:var(--mainColor);
    box-shadow:0px 5px 5px rgba(0,0,0,.5);
    transition:.5s all linear;
}
.success{
    border-left:4px solid #20CC82;
}
.error{
    border-left:4px solid red;
}
.scs_check,.err_times{
    box-sizing: border-box;
    width:2.5rem;
    /* border:1px solid red; */
    height:2.5rem;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color:#20CC82;
    color:white;
    border-radius:50%;
    /* margin-right:2rem; */
}
.err_times{
    background-color:red;
}
.msg_cut{
    /* border:1px solid red; */
    color:grey;
    transition: var(--transition);
}
.msg_cut:hover{
    cursor: pointer;
    color:black;
}
.hide{
    pointer-events: none;
    right:-23vw;
}
.empty{
    box-sizing: border-box;
    height:var(--myH);
    display:flex;
    justify-content: center;
    align-items: center;
}
.empty h1{
    font-family:var(--mainFamily);
    font-weight:100;
    color:red;
}
.photo_create{
    box-sizing: border-box;
    height:var(--myH);
    background:linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.3)),url("https://static.dribbble.com/users/1090753/screenshots/5813262/fichier_4_2x.png");
    background-position:center center;
    background-size:cover;
    display:flex;
    justify-content: center;
    align-items: center;
}
.photo_create form{
    height:50vh;
}
.all_photos{
    /* border: 1px solid red; */
    box-sizing: border-box;
    padding-top:6rem;
    padding-bottom:7rem;
    padding-left:5rem;
    padding-right:5rem;
}
.all_photos h2{
    font-family:var(--mainFamily);
    font-weight:100;
    color:var(--mainColor);
    text-align: center;
    font-size:2rem;
}
.all_photos_box{
    border:1.5px solid var(--mainColor);
    margin-top:4rem;
    display:flex;
    justify-content: space-between;
    padding:4rem 3rem;
    box-sizing: border-box;
    min-height:var(--myH);
    max-height:150vh;
}
.photo_card{
    /* border:1.5px solid var(--mainColor); */
    box-sizing: border-box;
    width:12rem;
    height:45vh;
    font-family:var(--mainFamily);
    transform: scale(1);
    box-shadow: none;
    overflow:hidden;
    border-radius: 1rem;
    background-color:white;
    transition: .2s all linear;
}
.photo_card:hover{
    cursor: pointer;
    transform: scale(1.05);
    box-shadow:0px 0px 5px rgba(0,0,0,.3);
}
.photo_card h3, h4{
    font-weight:100;
    margin-top:.5rem;
    text-align: center;
}
.photo_card h3{
    font-size:1.4rem;
    color:var(--mainColor);
    text-align: center;
}
.photo_card h4 i{
    color:var(--mainColor);
}
.photo_card img{
    box-sizing: border-box;
    width:12rem;
    height:15rem;
}
.card_box{
    /* border:1px solid red; */
    margin-top:2rem;
}
.card_box a{
    padding:.5rem 2rem;
    font-size:1rem;
    display: inline-block;
    margin-top:1.5rem;
    margin-bottom: 2rem;
}
.card_link{
    text-align: center;
}
.photo_show{
    /* border:1px solid red; */
    font-family:var(--mainFamily);
    padding:2rem 3rem;
}
.photo_show_box_1{
    /* border:1px solid red; */
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom:3rem;
}
.photo_show_box_1 div{
    /* border:1px solid red; */
    display:flex;
    align-items: center;
}
.photo_show_box_1 div h4{
    border:1.5px solid var(--mainColor);
    padding:.5rem 1rem;
    margin-left:1.5rem;
    margin-right:1.5rem;
    transition: var(--transition);
    display:flex;
    align-items:center;
}
.photo_show_box_1 div h4:hover{
    cursor: pointer;
    background-color:var(--mainColor);
    color:white;
}
.photo_show_box_1 div h4:hover a{
    color:white;
}
.image_general{
    /* border:1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.image_box{
    /* border:1px solid red; */
    
    display:flex;
    justify-content: center;
}
.image_box img{
    width:80%;
    overflow-x:auto;
    padding: 0.5rem;
    background-color:white;
    box-shadow:0px 0px 5px rgba(0,0,0,.3);
}
.photo_lks_vws{
    /* border:1px solid red; */
    display:flex;
    align-items:center;
    justify-content:space-between;
    margin-top: 1rem;
    width:100%;
}
.photo_lks{
    /* border:1px solid red; */
    display:flex;
    align-items: center;
}
.photo_lks h4{
    margin-right:.8rem;
    margin-left:.8rem;
}
.like{
    border:1.5px solid var(--mainColor);
    box-sizing: border-box;
    width:2.5rem;
    height:2.5rem;
    display:flex;
    justify-content: center;
    align-items: center;
    color:var(--mainColor);
    border-radius:50%;
    transition: var(--transition);
}
.like:hover{
    background-color: var(--mainColor);
    color:white;
}
.liked{
    border:1.5px solid var(--mainColor);
    box-sizing: border-box;
    width:2.5rem;
    height:2.5rem;
    display:flex;
    justify-content: center;
    align-items: center;
    color:var(--mainColor);
    border-radius:50%;
    transition: var(--transition);
    background-color:var(--mainColor);
    color:white;
}
.likes{
    color:var(--mainColor);
    font-size:1.5rem;
    display:flex;
    align-items:center;
}
.views{
    font-size:1.5rem;
}
.views i {
    margin-right:1rem;
    color:var(--mainColor);
}
.comments_box{
    /* border:1px solid red; */
    margin-top: 3rem;
    box-sizing: border-box;
    height:50vh;
    overflow-y:auto;
}
.comments_head{
    display:flex;
    align-items:center;
}
.comments_box h3{
    font-weight:100;
    font-size:2rem;
    color:var(--mainColor);
    border-bottom:1px solid var(--mainColor);
    display:inline-block;
}
.comments_box a{
    display:inline-block;
    margin-top:1rem;
    font-size:.8rem;
    padding:.5rem 1rem;
    margin-left:1.5rem;
}
.comment_empty{
    /* border:1px solid red; */
    height:50%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.comment_empty{
    font-size:1.5rem;
    color:red;
}
.photo_title{
    /* border:1px solid red; */
    width:100%;
    margin-top: 3rem;
}
.photo_title h3{
    font-size:2rem;
    font-weight:100;
    color:var(--mainColor);
}
.photo_title p{
    font-weight:100;
    /* border:1px solid red; */
    line-height:1.5;
    margin-top:1.2rem;
    text-align:justify;
}
.comment_create{
    box-sizing: border-box;
    height:var(--myH);
    background:linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.3)),url("https://static.dribbble.com/users/873589/screenshots/4006027/comment_bubble-100.jpg");
    background-position:center center;
    background-size:cover;
    display:flex;
    justify-content: center;
    align-items: center;
}
.comment_create form{
    height:30vh;
}
.comments_container{
    border:1px solid red;
    margin-top:2rem;
    box-sizing: border-box;
    min-height:30vh;
    border:1.5px solid var(--mainColor);
    padding:1rem 2rem;
}
.comment{
    /* border:1px solid red; */
    padding-bottom:1rem;
    border-bottom:1.2px solid var(--mainColor);
    margin-top:1rem;
    margin-bottom:1rem;
}
.comment h4{
    font-weight:100;
    text-align:left;
    font-size:1.5rem;
}
.comment h5{
    font-weight:100;
    text-align:left;
    margin-top: .8rem;
    font-size:1rem;
    color:var(--mainColor);
}
.public{
    /* border:1px solid red; */
    font-family:var(--mainFamily);
    box-sizing: border-box;
    min-height:var(--myH);
    max-height:150vh;
}
.public_box_1{
    /* border:1px solid red; */
    display:flex;
    justify-content: center;
    padding:4rem 0rem;
}
.pb1_1{
    /* border:1px solid red; */
    border-right:1.2px solid var(--mainColor);
    padding-right:1rem;
    display:flex;
    align-items: center;
    margin-right:2rem;
}
.pb1_1 img{
    box-sizing: border-box;
    width:6rem;
    height:6rem;
    border-radius:50%;
    /* border:1px solid red; */
}
.pb1_2{
    /* border:1px solid red; */
    box-sizing: border-box;
    width:20vw;
}
.pb1_2 h4{
    font-size:1.2rem;
    margin-left:1rem;
    margin-right:1rem;
    
}
.pb1_2 h4 i{
    margin-right:1rem;
    color:var(--mainColor);
}
.pb1_2_2{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top:1rem;
}
.pb1_2_1{
    /* border:1px solid red; */
    border-bottom:1.2px solid var(--mainColor);
    padding-bottom:1.5rem;
    display:flex;
    justify-content: space-between;
    align-items:center;
}
.pb1_2_1 h1{
    color:var(--mainColor);
}
.public_btn{
    padding:.5rem 2rem;
    border-radius:.2rem;
}
.public_btn:hover a{
    color:white;
}
.public_btn{
    padding:.5rem 2rem;
    display:inline-block;
    margin-top:1rem;
    margin:0px auto;
}
.public_box_2{
    /* border:1px solid red; */
    padding:2rem 3rem;
}
.public_box_2 h3{
    font-weight:100;
    text-align: center;
    font-size:2rem;
}
.pb2_box{
    display:flex;
    flex-wrap: wrap;
    margin-top:2rem;
    overflow-y:auto;
    padding:2rem;
}
.error_page{
    /* border:1px solid red; */
    box-sizing: border-box;
    height:var(--myH);
    display:flex;
    justify-content: center;
    align-items:center;
    background:linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.3)),url("https://static.dribbble.com/users/548267/screenshots/10288685/media/7268be551278859a373ebc661a39daad.jpg");
    background-position:center center;
    background-size:cover;
}
.error_box{
    box-sizing: border-box;
    /* border:1px solid red; */
    height:40vh;
    width:40vw;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    font-family:var(--mainFamily);
    background-color:white;
    border-radius:.5rem;
    
}
.error_box h1{
    font-weight:100;
    color:red;
    font-size:2.5rem;
}
.error_box a{
    margin-top:1.5rem;
    color:var(--mainColor);
    font-size:1.2rem;
}