<div>
    <form action = "/photo/{{photoId}}/comment" method = "POST"> 
        <input type = "text" placeholder = "Your Comment" name = "comment" />
        <button type = "submit">Add Comment</button>
    </form>
</div>