<div class = "comment_create">
    <form action = "/photo/{{photoId}}/comment" method = "POST" class = "form"> 
        <h3>Add a Comment</h3>
        <input type = "text" placeholder = "Your Comment" name = "comment" autocomplete="off" required = "required" />
        <button type = "submit" class = "btn">Add Comment</button>
    </form>
</div>