<div>
    <form action = "/user/login" method = "POST"> 
        <input type = "text" placeholder = "User Name" name = "username"/>
        <input type = "password" placeholder = "Password" name = "password"/>
        <button type = "submit">Log In</button>
        <a href = "/user/register">Don't have an account ? Then register now !!</a>
    </form>
</div>