<div>
    <form action = "/photos/create" method = "POST" enctype = "multipart/form-data">
        <input type = "text" placeholder = "Title" name = "title"/>
        <input type = "file" placeholder = "Photo" name = "photo"/>
        <textarea name = "description" placeholder = "Photo Description"></textarea>
        <button type = "submit">Add Photo</button>
    </form>
</div>