<div class = "photo_create">
    <form action = "/photos/create" method = "POST" enctype = "multipart/form-data" class = "form">
        <h3>Add a Photo</h3>
        <input type = "text" placeholder = "Title" name = "title" autocomplete = "off" required = "required" />
        <input type = "file" placeholder = "Photo" name = "photo" autocomplete = "off" required = "required" />
        <textarea name = "description" placeholder = "Photo Description" autocomplete = "off" required = "required" ></textarea>
        <button type = "submit" class = "btn">Add Photo</button>
    </form>
</div>