<div class = "register">
    <form action = "/user/register" method = "POST" enctype = "multipart/form-data" class = "form">
        <h3>Register</h3>
        <input type = "text" placeholder = "User Name" name = "username" required = "required" autocomplete="off" />
        <input type = "password" placeholder = "Password" name = "password" required = "required" autocomplete="off"/>
        <input type = "file" name = "user_image" />
        <textarea placeholder = "Write about yourself" name = "description" autocomplete="off" >

        </textarea>
        <button type = "submit" class = "btn">Register</button>
        <h4> Already have an account ? Then <a href = "/user/login"> Log In !!</a> </h4>
    </form>
</div>