<div>
    <form action = "/user/register" method = "POST" enctype = "multipart/form-data">
        <input type = "text" placeholder = "User Name" name = "username"/>
        <input type = "password" placeholder = "Password" name = "password"/>
        <input type = "file" name = "user_image" />
        <textarea placeholder = "Write about yourself" name = "description">

        </textarea>
        <button type = "submit">Register</button>
         <a href = "/user/login">Already have an account ? Then Log In !!</a>
    </form>
</div>